*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #48c6ef, #6f86d6);
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 40%;
  min-width: 450px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.25);
}

#newtask {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.46%, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 3.46%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 30px 20px;
  border-radius: 5px;
}

#newtask input {
  background: transparent;
  width: 70%;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2d3436;
  border-top: none;
  border-inline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding: 12px;
  font-weight: 500;
  position: relative;
}

#newtask input::-webkit-input-placeholder {
  color: #fff;
}

#newtask input:-ms-input-placeholder {
  color: #fff;
}

#newtask input::-ms-input-placeholder {
  color: #fff;
}

#newtask input::placeholder {
  color: #fff;
}

#newtask input:focus {
  outline: none;
  border-color: #fff;
}

#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#newtask button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#tasks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.46%, rgba(255, 255, 255, 0.14)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 3.46%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 30px 20px;
  margin-top: 24px;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.task {
  background: transparent;
  height: 50px;
  padding: 5px 10px;
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.task span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2d3436;
}

.task button {
  margin-bottom: 6px;
  display: inline-block;
  height: 100%;
  width: 40px;
  border: 0;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(214, 48, 49, 0.1);
  border: 2px solid rgba(214, 48, 49, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: #d63031;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.task button:hover {
  background-color: rgba(214, 48, 49, 0.2);
}

.completed {
  text-decoration: line-through;
}
/*# sourceMappingURL=style.css.map */